* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}

main > section {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu {
    position: fixed;
    top: 40px;
    right: 35px;
    z-index: 1;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin: 30px 35px 0 0;
}

#menu a {
    padding: 15px 20px;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    color: black;
}

#menu a:hover {
    background-color: red;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    color: rgb(230, 241, 76);

}

#sneakers {
    background-image: url("../img/brik.jpg");
}

#tommy {
    background-image: url("../img/tennis.jpg");
}

#converse {
    background-image: url("../img/road.jpg");
}

